@model OdeToFood.Models.RestaurantReview

<div class="review">
    <span> @Model.Rating </span>
    <span class=" right">
        @Html.ActionLink("ClickForEdit", "Edit", new { id = Model.ID })
    </span>
</div>